Source: stx-platform-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 build-info,
 ceph-pools-audit-helm,
 platform-helm,
 python3-k8sapp-platform,
 python3-k8sapp-platform-wheels
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-platform-helm
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: StarlingX Platform FluxCD Helm Charts
 This package contains FluxCD manifests for the platform applications.
