#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/local/share/applications/helm
export EXTRA_CHARTS = $(ROOT)/opt/extracharts

export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export MAJOR = $(shell echo $(DEB_VERSION) | cut -f 1 -d '.')
export MINOR_PATCH = $(shell echo $(DEB_VERSION) | cut -f 2 -d '.')

export APP_NAME = platform-integ-apps
export APP_VERSION = $(MAJOR).$(MINOR_PATCH)
export APP_TARBALL_ARMADA = $(APP_NAME)-armada-$(APP_VERSION).tgz
export APP_TARBALL_FLUXCD = $(APP_NAME)-$(APP_VERSION).tgz
export HELM_FOLDER = /usr/lib/helm
export HELM_REPO = stx-platform
export STAGING_ARMADA = staging-armada
export STAGING_FLUXCD = staging-fluxcd
export TOOLKIT_VERSION = 0.2.19

%:
	dh $@

override_dh_auto_build:

	############
	#  COMMON  #
	############
	# Stage helm-toolkit in the local repo.
	cp $(HELM_FOLDER)/helm-toolkit-$(TOOLKIT_VERSION).tgz helm-charts/

	# Host a server for the helm charts.
	chartmuseum --debug --port=8879 --context-path='/charts' --storage="local" \
		--storage-local-rootdir="./helm-charts" &
	sleep 2
	helm repo add local http://localhost:8879/charts

	# Create the TGZ file.
	cd helm-charts && make rbd-provisioner
	cd helm-charts && make ceph-pools-audit
	cd helm-charts && make cephfs-provisioner
	cd helm-charts && make node-feature-discovery

	# Terminate the helm chart server.
	pkill chartmuseum

	############
	#  ARMADA  #
	############
	# Setup the staging directory.
	mkdir -p $(STAGING_ARMADA)
	cp files/metadata.yaml $(STAGING_ARMADA)
	cp manifests/manifest.yaml $(STAGING_ARMADA)
	mkdir -p $(STAGING_ARMADA)/charts
	cp helm-charts/*.tgz $(STAGING_ARMADA)/charts

	# Populate metadata.
	sed -i 's/@APP_NAME@/$(APP_NAME)/g' $(STAGING_ARMADA)/metadata.yaml
	sed -i 's/@APP_VERSION@/$(APP_VERSION)/g' $(STAGING_ARMADA)/metadata.yaml
	sed -i 's/@HELM_REPO@/$(HELM_REPO)/g' $(STAGING_ARMADA)/metadata.yaml

	# Copy the plugins: installed in the buildroot
	mkdir -p $(STAGING_ARMADA)/plugins
	cp /plugins/$(APP_NAME)/*.whl $(STAGING_ARMADA)/plugins

	# Create the app package.
	cd $(STAGING_ARMADA) && find . -type f ! -name '*.md5' -print0 | xargs -0 md5sum > checksum.md5
	tar cfz $(APP_TARBALL_ARMADA) -C $(STAGING_ARMADA)/ .

	# Cleanup staging
	rm -rf $(STAGING_ARMADA)

	############
	#  FLUXCD  #
	############
	# Setup the staging directory.
	mkdir -p $(STAGING_FLUXCD)
	cp files/metadata.yaml $(STAGING_FLUXCD)
	cp -Rv fluxcd-manifests $(STAGING_FLUXCD)
	mkdir -p $(STAGING_FLUXCD)/charts
	cp helm-charts/*.tgz $(STAGING_FLUXCD)/charts

	# Populate metadata.
	sed -i 's/@APP_NAME@/$(APP_NAME)/g' $(STAGING_FLUXCD)/metadata.yaml
	sed -i 's/@APP_VERSION@/$(APP_VERSION)/g' $(STAGING_FLUXCD)/metadata.yaml
	sed -i 's/@HELM_REPO@/$(HELM_REPO)/g' $(STAGING_FLUXCD)/metadata.yaml

	# Copy the plugins: installed in the buildroot
	mkdir -p $(STAGING_FLUXCD)/plugins
	cp /plugins/$(APP_NAME)/*.whl $(STAGING_FLUXCD)/plugins

	# Create the app package.
	cd $(STAGING_FLUXCD) && find . -type f ! -name '*.md5' -print0 | xargs -0 md5sum > checksum.md5
	tar cfz $(APP_TARBALL_FLUXCD) -C $(STAGING_FLUXCD)/ .

	# Cleanup staging
	rm -rf $(STAGING_FLUXCD)

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 $(APP_TARBALL_ARMADA) $(APP_FOLDER)
	install -p -D -m 755 $(APP_TARBALL_FLUXCD) $(APP_FOLDER)
	install -d -m 755 $(EXTRA_CHARTS)
	install -p -D -m 755 helm-charts/node-feature-discovery-*.tgz $(EXTRA_CHARTS)

override_dh_auto_test:

override_dh_usrlocal:
